.task-card {
  padding: 0 !important;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.task-header :last-child {
  flex-shrink: 0;
}

.task-title {
  font-weight: 500;
  word-break: break-word;
  text-transform: capitalize;
  text-align: center;
  flex: 1;
}

.task-desc {
  text-align: center;
  flex: 1;
  width: 100%;
  font-size: 14px;
}

.task-content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.task-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
